/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;
$navbar-bg: #3A3A3A;
$navbar-fg: #808080;
$navbar-hl: #DDDDDD;
$sidebar-bg: #3A3A3A;
$sidebar-fg: #808080;
$sidebar-hl: #DDDDDD;
$dropdown-link-hover-bg: #3A3A3A;

// Code blocks
$code-block-bg-alpha: -.8;
